/* ========== Tabs style ============ */

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-effect: null;
}

.tab-header-area {
    -fx-pref-height: 0;
}

.tab {
    -fx-focus-color: transparent;
    -fx-background-radius: 1;
}

.tab .tab-label {
    -fx-font-size: 12px;
}

.tab-pane .tab-content-area {
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: #e6e6e6;
}

/* ========== Basic elements style ============ */

.button,
.toggle-button,
.text-field,
.label,
.toolbar {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 1.0em;
}

.label_field {
    -fx-font-family: 'Consolas', monospace;
}

.output_grid {
     -fx-border-color: #C5C5C5;
     -fx-border-width: 1px;
     -fx-border-radius: 3px;
}

.filter_block {
    -fx-background-color: #DEDEDE;
    -fx-border-color: #C5C5C5;
    -fx-border-width: 1px;
}

.output_text {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 13px;
}

.connected {
    -fx-fill: #5CB85C;
}

.disconnected {
    -fx-fill: #D9534F;
}

.list-cell, .text-area {
    -fx-font-family: "Courier New";
}

.list-cell:filled:selected {
    -fx-background-color: #A0D1FA;
    -fx-text-fill: black;
}

.message_send {
    -fx-background-color: #C9F8D4;
}

.cell:selected {
    -fx-background-color: #066EC1;
    -fx-font-weight: bold;
}

.separator {
    -fx-padding: 2px 0;
}

.combo-box,
.combo-box > .list-cell {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-pref-width: 90;
}

.combo-box-popup > .list-view {
    -fx-pref-width: 90;
}

.combo-box .arrow,
.combo-box .arrow-button {
    -fx-padding: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
}

/* ========== List view scroll bar style ============ */

.text-area .scroll-bar:horizontal .track,
.text-area .scroll-bar:vertical .track,
.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.text-area .scroll-bar:horizontal .increment-button ,
.text-area .scroll-bar:horizontal .decrement-button,
.list-view .scroll-bar:horizontal .increment-button ,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 10 0 0 0;
}

.text-area .scroll-bar:vertical .increment-button ,
.text-area .scroll-bar:vertical .decrement-button,
.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 10 0 0;
}

.text-area .scroll-bar .increment-arrow,
.text-area .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.text-area .scroll-bar:horizontal .thumb,
.text-area .scroll-bar:vertical .thumb,
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

/* ========== Progress bar style ============ */

.progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.35em;
}