.button,
.toggle-button,
.text-field,
.label,
.toolbar {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 13px;
}

.label_field {
    -fx-font-family: 'Consolas', monospace;
}

.menu-bar * {
    -fx-font-size: 12px;
    -fx-text-fill: black;
}

.menu-bar .menu * {
    -fx-cursor: hand;
}

.output_grid {
     -fx-border-color: #C5C5C5;
     -fx-border-width: 1px;
     -fx-border-radius: 3px;
}

.filter_block {
    -fx-background-color: #DEDEDE;
    -fx-border-color: #C5C5C5;
    -fx-border-width: 1px;
}

.output_text {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.connected {
    -fx-fill: #5CB85C;
}

.disconnected {
    -fx-fill: #D9534F;
}

.list-cell {
    -fx-font-family: "Courier New";
}

.list-cell:filled:selected {
    -fx-background-color: #A0D1FA;
    -fx-text-fill: black;
}

.message_send {
    -fx-background-color: #C9F8D4;
}

.cell:selected {
    -fx-background-color: #066EC1;
    -fx-font-weight: bold;
}

.separator {
    -fx-padding: 2px 0;
}

/* Scroll bar style for all list view */
.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.list-view .scroll-bar:horizontal .increment-button ,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 10 0 0 0;
}

.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 10 0 0;
}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}