/* ========== List views scroll bar style ============ */

.text-area .scroll-bar:horizontal .track,
.text-area .scroll-bar:vertical .track,
.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track,
.tree-view .scroll-bar:horizontal .track,
.tree-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.text-area .scroll-bar:horizontal .increment-button,
.text-area .scroll-bar:horizontal .decrement-button,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button,
.tree-view .scroll-bar:horizontal .increment-button,
.tree-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 10 0 0 0;
}

.text-area .scroll-bar:vertical .increment-button,
.text-area .scroll-bar:vertical .decrement-button,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button,
.tree-view .scroll-bar:vertical .increment-button,
.tree-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 10 0 0;
}

.text-area .scroll-bar .increment-arrow,
.text-area .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow,
.tree-view .scroll-bar .increment-arrow,
.tree-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.text-area .scroll-bar:horizontal .thumb,
.text-area .scroll-bar:vertical .thumb,
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb,
.tree-view .scroll-bar:horizontal .thumb,
.tree-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}


.tree-cell:selected {
    -fx-font-weight: bold ;
}

.toggle-button {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 8pt;
    -fx-text-fill: black;
}
